body {
    background: #ffffff;
    font-family: Meiryo;
    vertical-align: middle;
    text-align: center;
    margin: 30px, 30%, 30px;
    padding: 30px;
}
h1 {
    color: #ff0000;
}
h2 {
    color: #ffffff;
}
h3 {
    color: #ffffff;
}
div {
    background: #ff0000;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    text-align: center;
}