<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>晩杯屋せんべろガチャ</title>
  </head>
  <body >
    <h1>晩杯屋せんべろガチャ</h1>
      <div>        
        <h2>予算1000円</h2>
        <h3>ガチャを回す</h3>
        <h2>予算1500円</h2>
        <h3>ガチャを回す</h3>
        <h2>予算2000円</h2>
        <h3>ガチャを回す</h3>
      </div>
  </body>
</html>